<div class="container-fluid" style="margin: 0; padding: 0;">
	<div class="row">
		<div class="col col-12 text-center">				
			<div style="font-size: 0;">
				<%=link_to(items_path(:c => Category.find_by(sex: "Femme"))) do
  					image_tag 'pink-model-cropped2.jpg', alt:'woman model', class: 'main-picture'
				end%>
				
				<%=link_to(items_path(:c => Category.find_by(sex: "Homme"))) do
  					image_tag "man-yellow-jumper-cropped2.jpeg", alt:'man model', class: 'main-picture'
				end%>
				<div class="centered"><h1 class="fall-down" data-splitting>FAKO</h1></div>
			</div>
		</div>
	</div>
</div>

<div class="container"> 
	<div class="row py-5">
		<div class="col col-12 pt-3 mb-1 text-center"> 
			<h4 style="color: black; font-family: 'Montserrat'; font-size: 60px; letter-spacing: 15px;"> FAKO PREMIUM </h4>
		</div>
	</div>
	<div class="row">
		<div class="col col-12 mx-auto" style="  display: flex; flex-direction: row; justify-content: space-between;">
			<%= image_tag 'vintage.jpeg', alt: "woman leopard coat", class: "premium" %>
			<%= image_tag 'stairs.jpeg', alt: "man costume stairs", class: "premium" %>
			<%= image_tag 'woman-pink-dress.jpeg', alt: "woman pink dress", class: "premium", id: "premium-grey"%>
		</div>
	</div>
</div>

