<div class="container">
	<ul class="list-group list-group-flush mt-4">
		<% if @favorites.count > 0 %>
			<% @favorites.each do |item| %>
			<li class="list-group-item">
				<div class="row align-items-center">
					<div class="col col-1">
						<%=link_to(item_path(item.id), class: "fav-link") do %>
							<%=image_tag item.image_path, class: 'mr-3 rounded W35', style: "width: 50px; height: auto;" %>
	  					
					</div> 
					<div class="col col-8">
						<h5 class="mt-0 mb-1"><%= item.name %> </h5>
						<%= number_to_currency item.price, unit: "€", separator: ",", format: "%n%u" %>
						<%end%>
					</div>
					
					<div>
						<%=link_to(item_favorite_path(item_id: item.id),  method: "delete") do %>
							<i class="fas fa-trash fav-link"></i>
						<%end%>
					</div>
				</div>
			</li>
			<% end %>
		<%else%>
			<p>Vous n'avez pas encore sélectionné d'articles dans vos favoris.</p>
		<%end%>
	</ul>
</div>
