<div class="container mt-3">
	<div class="row">
		<!-- Partial for the dashboard -->
		<%= render 'admins/dashboard' %>
		<!-- Main content -->
		<div class="col-sm-12 col-md-9">
			<div class="container">
				<div class="row">
						<div class="col">
							<h4 class="p-2 bg-primary-alt"><i class="fas fa-transgender-alt text-primary"></i> Catégories</h4>
						</div>
					</div>
				<div class="row">
					<div class="col mx-2 mb-3">
						<%= link_to "Créer une nouvelle catégorie", new_admins_category_path, class: "btn btn btn-primary" %>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<% @categories.order(sex: :asc).each do |category|%>
						<ul class="list-group">
							<%= link_to edit_admins_category_path(category) do %>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								
								<%= category.sex%> <%= link_to "Supprimer", admins_category_path(category), method: :delete, data: { confirm: 'Êtes-vous sûr.e ?' }, class: "btn btn-sm btn-danger ml-3" %>
							</li><%end%>
						</ul>
						<%end%>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
