<div class="container">

	<ul class="list-group list-group-flush mt-4">
		<% @cart_items_unique.each do |item| %>
		<li class="list-group-item">
			<div class="row align-items-center">
				<div class="col col-1">
					<%= image_tag Item.find(item.item_id).image_path, class: 'mr-3 rounded W35', style: "width: 50px; 
  height: auto;" %>
				</div> 
				<div class="col col-8">
					<h5 class="mt-0 mb-1"><%= Item.find(item.item_id).name %> </h5>
					<%=number_to_currency Item.find(item.item_id).price, unit: "€", separator: ",", format: "%n%u" %> 
				</div>

				<div class="col col-3 text-right">
					<%= link_to " - ", cart_item_path(:item_size_id => item.id, :add_or_remove => "remove"), controller: 'cart_items', method: "put", action: 'update', class: "btn btn-sm btn-dark mr-1" %>
						<%= CartItem.where(cart_id: @cart.id, item_size_id: item.id).count %>
						<%= link_to "+", cart_item_path(:item_size_id => item.id, :add_or_remove => "add"), controller: 'cart_items', method: "put", action: 'update', class: "btn btn-sm btn-dark ml-1" %>

					<%= link_to "Supprimer", cart_item_path(:item_size_id => item.id), controller: 'cart_items', method: "delete", action: 'destroy', class: "btn btn-warning btn-sm ml-4"%>  
				</div> 
			</div>
		</li>
		<% end %>
	</ul>


	<!-- finalize order button -->
	<div class="row">
		<div class="col">
			<% if @cart.item_sizes.count == 0 %>
			<div class="mt-4 text-center"> 
				<p>Votre panier est vide</p>
				<%= link_to "Retour aux articles", root_path, class: "btn btn-lg btn-success mt-3" %>	 
			</div>
			<% elsif user_signed_in?%>
			<div class="mt-4 text-center">  <p> Total: <%= @cart.total_cart_price %> € </p>
			buy now str
			</div>
			<% else%>
			<p class="text-center mt-4">
				Total: <%= @cart.total_cart_price %> €
			</p>
			<p class="text-center">
				You are not logged in, please: 
			</p>
			<div class="mt-4 text-center align-items-center">  
				<%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-success mr-2" %>	or <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-success ml-2" %>	 
			</div>
			<%end%>
		</div>
	</div>


</div>