<!-- Begining of the loop -->
<% @items.order(created_at: :desc).each do |item| %>
<!-- CARD -->

<div class="card row mx-2 o-hidden hover-shadow-3d p-0 mt-0 mb-2">
	<div class="card-body col p-3">
		<div class="flex-grow-1">
			<div class="d-flex align-items-center">
				<div class="ml-2">
					<h5 class="m-0 p-0">
						
						<!-- Name -->
						
						  <%= item_picture(item.id) %> <%= item.name %>  

						
					</h5>
					<!-- Price -->
					<p><%=number_to_currency item.price, unit: "€", separator: ",", format: "%n%u" %>  </p>

					<p> <%= link_to(admins_item_sizes_path(item_id: item.id), class: "btn btn-dark") do %>
						Modifier le nombre d'article en stock
						<% end %>

						<%= link_to(edit_admins_item_path(item.id), class: "btn btn-dark") do %>
						Modifier l'article
						<% end %>
					</p> 
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
