<div class="container mt-3">
	<div class="row">
		<!-- Partial for the dashboard -->
		<%= render 'admins/dashboard' %>
		<!-- Main content -->
		<div class="col-sm-12 col-md-9">
			<div class="container">
				<div class="row">
					<div class="col">
					<p>	<%=image_tag @item.image_path, class: 'mr-3 rounded W35', style: "width: 50px; height: auto;" %> 
						<%=@item.name %></p>
						<% @item_sizes.order(updated_at: :desc).each do |itemsize|%>
						<ul class="list-group">
							<%= link_to edit_admins_item_size_path(itemsize.id) do %>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								
								<%= itemsize.find_size %>
								<span class="badge badge-primary badge-pill"><%= itemsize.stock%></span>
							</li><%end%>
						</ul>
						<%end%>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
