<div class="container girl-bg">
	<div class="row mt-5 mb-4">
		<% @items.each do |item| %>
		<div class="col-6">
			<div class="girl-bg" style="font-size: 16px;">
					<%=link_to(item_path(item.id)) do
  					image_tag item.image_path, alt:item.name, class: 'model-picture'
				end%>
				<div style="text-align: left;" class="mt-1">
					<p class="girl-bg"> <%= item.name %> 
						<%=image_tag 'icons/like-b.png', alt:"heart icon", class: 'pt-1'%>
					<br>
						 <%= item.description %> 
					</br>
						<%= item.price %>€
					</p>
				</div>
			</div>
		</div>
		<%end%>
	</div>
</div>		
