	<!----------------------------------test------------------>
<nav class="navbar navbar-expand-lg navbar-light">
  <%=link_to("FAKO", root_path, class: "navbar-brand mt-2 ml-4", id: "brand-logo") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form class="form-inline my-2 my-lg-0 mx-auto" >
		<input class="form-control mr-sm-2" type="search" id="placeholder" placeholder="Que recherchez-vous ?" style="width: 400px; border-radius: 0px;">
		<button class="btn btn-custom loupe my-2 my-sm-0"type="submit"><i class="fas fa-search loupe"></i></button>
	</form>
	<ul class="navbar-nav mr-4 float-right">
      <% if user_signed_in? %>
  <li class="nav-item dropdown">
      <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user mr-4"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
       <%= link_to "Log out", destroy_user_session_path , method: 'delete', class: "dropdown-item" %>
     </div>
   </li>

   <%else%>

     <li class="nav-item dropdown">
      <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user mr-4"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to "Connectez-vous", new_user_session_path, class: "dropdown-item" %>
       <%= link_to "Créez un compte", new_user_registration_path, class: "dropdown-item" %>
     </div>
   </li>
   <%end%>

      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-heart mr-4"></i></a>
      </li>
      <li class="nav-item">
        <%= link_to cart_path(id: current_user.cart), method: "get", class: "nav-link" do %>
       
        <i class="fas fa-shopping-bag"></i>(<%= current_user.cart.items.count %>)

        <%end%>
      </li>
    </ul>
  </div>
</nav>


	<div class="container-fluid" style="background-color: black">
		<div class="row">
			<div class="col col-12" style="text-align: center;">
				<a class="navbar2-link mx-4"href="#"> NOUVEAUTÉS </a>
        <%=link_to(categories_path, class: "navbar2-link mx-4") do
          "VÊTEMENTS"
          end%>
				<a class="navbar2-link mx-4"href="#"> CHAUSSURES </a>
				<a class="navbar2-link mx-4"href="#"> ACCESSOIRES </a>
        <%= link_to(root_path(anchor: 'premium-title'), class: "navbar2-link mx-4") do 
        "PREMIUM"
        end%>
			</div>
		</div>
	</div>